@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Updock&display=swap');

body {
    background-color: #b59d9d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    font-family: "Cabin", sans-serif;
}

h1,
h2 {
    margin: 0;

}

h1 {
    font-size: 3rem;
    color: #333;
}

h2 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 20px;
}

.main {
    display: none;
}

.adicionais {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 200px;
}

.adicional {
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

#player {
    height: 50px;
}


#desistir {
    border: 1px solid red;
}

#desistir:hover {
    transition: 0.5s ease;
    color: white;
    background-color: rgb(168, 64, 64);
}

#empate {
    border: 1px solid rgb(5, 51, 177);
}

#empate:hover {
    transition: 0.5s ease;
    color: white;
    background-color: rgba(52, 52, 207, 0.534);
}

#gameboard {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.quadrado {
    height: 50px;
    width: 50px;
    position: relative;
}

.quadrado svg {
    height: 40px;
    width: 40px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

#info-display {
    height: 20px;
}


#info-display.hidden {
    opacity: 0;
}

path {
    position: relative;
    z-index: -10
}

.piece {
    position: relative;
    z-index: 9;
}

.claro {
    background-color: #b3a5a5;

}

.escuro {
    background-color: #968f96;
}

.selecionado {
    background-color: red;
}

.black {
    fill: #363636
}

.white {
    fill: #ffffff
}



.vitoria {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 95, 95, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-align: center;
}

.vitoria h1 {
    font-size: 3rem;
    margin: 0;
}

.vitoria p {
    font-size: 1.5rem;
}

.vitoria button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid rgba(52, 52, 207, 0.534);
}

.vitoria button:hover {
    transition: 0.5s ease;
    color: white;
    background-color: rgba(9, 190, 39, 0.534);
}