body {
    background-color: #b59d9d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.adicionais {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.adicional {
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

#desistir {
    border: 1px solid red;
}

#desistir:hover {
    transition: 0.5s ease;
    color: white;
    background-color: rgb(168, 64, 64);
}

#empate {
    border: 1px solid rgb(5, 51, 177);
}

#empate:hover {
    transition: 0.5s ease;
    color: white;
    background-color: rgba(52, 52, 207, 0.534);
}

#gameboard {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.quadrado {
    height: 50px;
    width: 50px;
    position: relative;
}

.quadrado svg {
    height: 40px;
    width: 40px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10
}

.piece {
    position: relative;
    z-index: 9;
}

.claro {
    background-color: #b3a5a5;

}

.escuro {
    background-color: #968f96;
}

.black {
    fill: #363636
}

.white {
    fill: #ffffff

}